body {
    background-color: #ffffff;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 3em;
}

.credits {
    position: absolute;
    bottom: 0;
    font-family: "Courier New", Courier, monospace;
}

.new {
    font-family: Tahoma, Geneva, sans-serif;
}